- var repeats = 200
doctype 5
html
    head
        title TopCoat textarea test
        link(rel="stylesheet", href="../../release/css/topcoat-textarea.min.css")
    body
        - while (repeats--)
            textarea(placeholder='Small Textarea', class='topcoat-textarea', rows='6', cols='36')