@import textarea-mixin

/*
 TopCoat Textarea
 ------------------------

    <textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea"></textarea>

 */

.topcoat-textarea
    textarea-base()
    border var-border
    background-color var-background-color
    box-shadow var-box-shadow
    color var-color

.topcoat-textarea:focus
	background-color var-background--focus
	color var-color--focus

/*
Topcoat Large Textarea
 ------------------------

	<textarea class="topcoat-textarea--large" rows="6" cols="36" placeholder="Textarea"></textarea>

*/

.topcoat-textarea--large
	@extends .topcoat-textarea
	font var-font
	font-weight var-font-weight
	line-height var-line-height
